<%content_for :title do%><%= t("site.meta_title.overview") %><%end%>
<%content_for :keywords do%><%= t("site.current.keywords") %><%end%>
<%content_for :description do%><%= t("site.meta_desc.overview")%><%end%>

<% content_for :javascript do %>
  $("#i_overview li").click(function(){
    $("#i_overview li").removeClass("active");
    $(this).addClass("active");
  });
<% end %>

<section id="overview">
  <div class="icontitle">
    <h1><i class="fa fa-question-circle"></i>StoryRobin overview</h1>
  </div>
  <div class="whiteframe">
    <div class="overviewindex visible-desktop">
      <ul class="nav bs-docs-sidenav" id="i_overview">

        <a href="#overview">
          <li class="active">
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Introduction to StoryRobin</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview2">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">The Community of StoryRobin registered users</div>
            <div class="clear"></div>
          </li>
        </a>
      </ul>
      <hr>
    </div>
    <div class="overviewmiddle visible-desktop">
    </div>
    <div class="overviewcontent">
      <legend>Introduction to StoryRobin</legend>
      <div class="header_text margin-top10">
        <a target="_blank" href="<%= Vish::Application.config.full_domain %>">StoryRobin</a>
        is a social and collaborative site to engage children in creating educational programs.
      </div>
           
      <div class="header_text margin-top10">
        <br>
        <legend>The Community of StoryRobin registered users</legend>
      </div>
      <div class="header_text margin-top10">
        Request an invitation to join StoryRobin  </div>
      <br>
    </div>
  </div>
</section>