<section id="legal_notice">
  <div class="whiteframe">
    <legend>TERMS OF USE </legend>
    <br/>

    <div class="margin-top5">
        Welcome to the Robin Island, StoryRobin's web site (hereinafter, the Site). By logging on and using the Site, you are agreeing to be bound by the following terms ("Terms of Use"). Users will be able to view and print the terms of use and must expressly accept them before continuing on the web site. In the event that YOU DO NOT AGREE WITH ANY OF THE POINTS SET FORTH HEREIN, YOU SHALL NOT USE THE WEBSITE. These Terms of Use shall also apply to new services provided by the Site in the future through the same web site.
        <br/><br/>     
    This user agreement (the “Agreement”) is entered into by The StoryRobin Inc. (the “Company”) and user (the “User”), as of the date of using the Site (the “Effective Date”).
    </div>

    <br/>

  <div class="header_text margin-top10">  
    <b>I. - CONTRIBUTOR AGREEMENT</b>  
    <br/>    <br/>    
        1. User’s Ownership of Copyright and Reservation of Rights.   <br>
    (a) The copyright in the Work will remain with the User.    <br>
    (b) Subject to the License and the terms of this Agreement, the User retains all rights in the Work. If the Company publishes the Work in its publications, on its websites or otherwise, the User will clearly and accurately identify that publication (including the name) in any subsequent use of the Work and require any person the User grants rights in the Work to do likewise.      
        <br/>  <br/>    
        2. User’s Grant of Rights. The User grants to the Company a nonexclusive, royalty-free, worldwide, sublicensable license (the “License”) under copyright, moral rights, all rights of privacy and publicity and all other applicable rights, for all media and methods of publication, reproduction, distribution, performance, and display, whether now existing or later invented, to (a) reproduce the Work, (b) distribute copies of theWork to the public by sale or other transfer of ownership, or by rental, lease, or lending,(c) perform the Work publicly, (d) display the Work publicly, (e) translate the Work into any language (in which case the Company will have the same rights in the translation of the Work as in the original), and (f) authorize any third party to do any of the actions permitted by clauses (a) – (e) of this sentence. The License includes all copyrights,trademarks, trade names, rights of privacy or publicity, moral rights and any other similar form of intellectual rights in intangible property or proprietary rights, statutory or otherwise, whether registered or not, and whether applied for or not and all other forms of  protection of a similar nature or that relate to intangible property, ideas or expression, as they may exist anywhere in the world (“Intellectual Property Rights”). 
        <br/>  <br/>    
        3. User’s Warranties and Undertakings. The User warrants that: (a) The User is the sole author [(or joint author with the persons identified as joint authors in the submission form)] of the Work and has the power to convey the rights granted in this Agreement; (b) the Work contains the original thoughts, designs, or words of the User and properly credits the source when the thoughts, designs, or words of another are utilized; (c) the Work has not been previously been published, in whole or in part, domestically or outside the United States; (d) the Work does not infringe any Intellectual Property Rights of any person; and (e) the Work does not contain matter that is defamatory, violates another’s civil right(s), or other legal right, or is otherwise unlawful; and (f) if the Work reproduces any textual or graphic material that is the property of another for which permission is required, that material has been specified in writing to the Company and the User has obtained written consent for that reproduction.
<br>      <br/>    
    4. Editing, Modification, and Printing. The User authorizes the Company to edit and revise the Work prior to publication. 
       <br/>   <br/>    
      5. Indemnification and Litigation. The User will indemnify and hold harmless the Company and its officers, directors, employees, agents, subcontractors, attorneys, successors and assigns from and against any and all third-party claims, demands, actions, losses, liabilities, expenses and judgments, including attorneys’ fees, costs of investigation, the fees and costs of experts and other dispute resolution costs (“Damages”), arising out of or related to (i) the use of the Work by or on behalf of the Company or sublicensees in conformance with the License, or (ii) the User’s breach of any warranty or covenant in this Agreement.
        <br/>  <br/>    
      6. Miscellaneous. 
        <br/> 
        6.1 Governing Law. This Agreement will be governed by and construed under the substantive laws of the State of California, without regard to its choice of law provisions. Exclusive venue for the resolution of any dispute between the parties will be in the state and federal courts for Santa Clara County, California, and the parties hereby submit themselves to the personal jurisdiction of those courts and agree to the service of process by any means constituting notice under Section 6.3.
         <br/>    <br/>    
      6.2 Severability; Disaffirmance by Minor User. This Agreement is intended to be performed in accordance with, and only to the extent permitted by, all applicable laws, ordinances, rules and regulations of the jurisdictions in which the Company does business. If any provision of this Agreement or the application thereto to any person or circumstance will, for any reason and to any extent, be invalid or unenforceable the remainder of this Agreement and the application of that provision to other persons or circumstances will not be affected thereby, but rather will be enforced to the greatest extent permitted by law. If the User is a minor as of the Effective Date, the User may disaffirm of this Agreement, if and only to the extent permitted by nonwaivable applicable law, only by notice to the Company delivered no later than 180 days after the User reaches majority, which period the User acknowledges and agrees is a reasonable time after majority in which to exercise any right to disaffirm. The User hereby waives any waivable statutory or other rights to disaffirm or otherwise avoid this Agreement or limit the License, including any moral rights.
           <br/>  <br/>    
      6.3 Notice.  <br/> 
      (a) All notices, consents, waivers, and other communications under this Agreement must be: (i) in writing and (ii) delivered by U.S. Express Mail, internationally recognized overnight delivery service (e.g. UPS) or e-mail. Absent fraud or manifest error, a receipt signed by the addressee or the addressee’s authorized representative, a U.S. Express Mail receipt, a signed delivery service confirmation or a fax or e-mail confirmation of transmission will constitute proof of delivery. The actual receipt by the addressee of any notice will constitute delivery notwithstanding the failure to have complied with any provisions of this Section 
           <br/> 
      (b) Notice will be deemed to have been received on the date and time of the signed receipt or confirmation of its delivery or transmission, unless that receipt or confirmation date and time is not a business day or is after 5:00 p.m. local time on a business day, in which case notice will be deemed to have been received on the next succeeding business day. Notices to a party will be addressed as set forth below, or as set forth in any notice of change of address previously given to the other party by notice:
            <br/> <br/>    
 
      To the Company:  <br/> 
            StoryRobin Inc.   <br/> 
            P O Box 2247,    <br/> 
          Sunnyvale, CA 94087 <br/> 
            services [at] storyrobin.com
            <br/>    <br/>    
 
      6.4 Binding Effect; Assignment. The parties hereto hereby agree that the obligations entered into herein will be valid and binding on their respective representatives, successors and permitted assigns. The User may not assign the User’s rights or obligations under this Agreement and any purported assignment is null and void. The Company may freely assign its rights and obligations under this Agreement.
            <br/>    <br/>    
      6.5 No Third Party Beneficiaries. This Agreement is entered into by the parties for the exclusive benefit of the parties and their successors and permitted assignees. The Agreement is expressly not intended for the benefit of any other person. No third party will have any rights under this Agreement.
           <br/>    <br/>    
      6.6 Amendment, Modification, and Waiver. This Agreement may not be amended, modified or supplemented except pursuant to an instrument in writing signed by each of the parties hereto, except that any party to this Agreement may waive any obligation owed to that party by another party under this Agreement, provided the waiver is in writing. The waiver by any party hereto of a breach of any provisions of this Agreement will not operate or be construed as a waiver of any subsequent breach.
           <br/>    <br/>    
      6.7 Definitions and Construction. Capitalized terms in this Agreement have the meanings assigned to them in this Agreement unless the context otherwise requires, which meaning will be equally applicable to both the singular and plural forms of those terms. In this Agreement, unless a clear contrary intention appears, (a) ”Section” and “Exhibit” refer to sections of and exhibit to this Agreement; and (b) ”including” (and with correlative meaning “include”) means including without limiting the generality of any description preceding that term.
             <br/>   <br/>    
      6.8 Entire Agreement. This Agreement contains the entire understanding among the parties and supersedes any prior understanding and agreements between them respecting the within subject matter. There are no representations, agreements, arrangements or understandings, oral or written, between or among the parties relating to the subject matter of this Agreement which are not fully expressed in this Agreement.
        <br/><br/>
        The Site reserves the right to modify at any time and without notice, the presentation and design of the web site as well as its content, services and legal texts (including, among others, this Terms of Use). Users agree that the Site provider may, at any time, modify, disrupt, disable and/or cancel any of the elements, content or services that are integrated into the web site, including proprietary content uploaded or contributed by each user.
        <br/><br/>
    </div>

    <div class="header_text margin-top10">
        <b>II. SCOPE OF THE SERVICE</b>
        <br/><br/>
        Through the Site, users can access to the educational resources that the registered users have previously uploaded.
        <br/><br/>
        Only registered users can upload and modify content, create conferences, comment on it and any other functionality that could be added in the future. Registered users can modify educational material provided by other users as long as attribution is given to the original author.
        <br/><br/>
        Users utilize the service offered by the Site at their sole discretion; in the event that you think that your rights have been injured by another user of the web site, the Site encourages you to put the case to the attention of the law enforcement.
        <br/><br/>
    </div>

    <div class="header_text margin-top10">
        <b>III.- OBLIGATIONS OF THE USERS</b>
        <br/><br/>
        1. The User agrees to use the Site, its services, the content offered and this Terms of Use in accordance with the law, the moral, the good customs and the public order, in a diligent, correct and lawful way.
        <br/>
        2. The User is obliged to respect at all times the rights of others, therefore they guarantee not to use the Site to make offensive or slanderous comments that, in any way, may imply a violation of the honor, privacy or image rights of third parties.
        <br/>
        3. The User is obliged not to send unsolicited e-mails or unauthorized advertising communications (including but not limited to 'spam'), by using any of the services or tools provided by the Site or the information of its users. The Site reserves the right to block access to users who consider, at its sole discretion that violates this rule.
        <br/><br/>
    </div>

    <div class="header_text margin-top10">
        <b>IV.- CONTENT MANAGEMENT, INTELLECTUAL PROPERTY RIGHTS AND PROPERTY</b>
        <br/><br/>
        The Site is protected by national and international intellectual property laws, thus it is absolutely prohibited the reproduction, distribution, public communication, making available or transformation of the Site and/or any of its components, including without limitation, text, animation, images, videos, sound recordings, trademarks, graphics, logos, buttons, software, color combinations, and the structure, selection, arrangement and presentation of its contents, without prejudice to the rights that third parties may have on any element of it.
        <br/><br/>
        If you believe that your intellectual property or image rights are being violated in this Website, please contact us by mail: <a target="_blank" href="mailto:services@storyrobin.com"> Contact mail</a>
        <br/><br/>
    </div>

    <div class="header_text margin-top10">
        <b>V. - PERSONAL DATA</b>
        <br/><br/>
        Personal data, such as name, image and educational material that you share on the Site might be visible to unregistered users.
        <br/>
        No “Personally identifiable information” is shared with third parties for marketing purposes and we do not sell, trade, or rent Users personal identification information to others.
        <br/><br/>
    </div>

    <div class="header_text margin-top10">
        <b>VI .- QUALITY MANAGEMENT</b>
        <br/><br/>
        In order to deal with the quality management of the educational resources in the Site, an editorial board may verify the content at any time. Therefore, if an educational resource does not follow quality criteria it can be deleted.
        <br/><br/>
    </div>

    <div class="header_text margin-top10">
        <b>VII .- CONTENT FEDERATION</b>
        <br/><br/>
        Considering that the content of the Site can be aggregated to other content infrastructures, the educational resources updated or created on the Site can be accessed from and integrated into other repositories.
        <br/><br/>
    </div>

    <div class="header_text margin-top10">
        <b>VIII .- QUIZZES</b>
        <br/><br/>
        All users can participate in quizzes which can be created by registered users to evaluate virtual excursions. The results and data collected through quizzes will only be available to the creator of the quiz and used for academic purposes.
        <br/><br/>
    </div>

    <div class="header_text margin-top10">
        <b>IX .- LIABILITY OF THE SITE</b>
        <br/><br/>
        The provider of the Site shall not be liable, directly or alternatively, for: 
        <br/><br/>
        1. The quality of the service, speed of access, proper functioning and the availability and continuity of the portal.
        <br/>
        2. The information and content (any kind) made by the users, partners and third parties, and shall not be liable in any products or services that are sold through the web site and have not been developed or created in any case by the responsible of the Site.
        <br/>
        3. The damage that may be caused to users' computers for the use of the Site.
        <br/>
        4. Failure to comply with the law, morality and decency as a result of the transmission, distribution, storage, availability, reception or access to content.
        <br/>
        5. The infringement of intellectual property, the rights of honor, personal privacy and image, property rights or any other rights belonging to third parties as a result of reproduction, distribution, public communication, make available to the public, reception or access to content uploaded by users.
        <br/>
        6. Illegitimate uses, performed by users, of trademarks, product or service names, or generally, any industrial property rights of third parties.
        <br/>
        7. The links and hypertext, which, through the Web, allows the access to benefits and services offered by third parties which are not owned or controlled by the Site; StoryRobin is not responsible for any information contained therein or any effects that might result from such information.
        <br/>
        8. Commercial and/or economic output that may generate the use of the Site or for any damage caused to your computer while downloading any material uploaded by users.
        <br/><br/>
        The Site provider reserves the right to remove any content uploaded by users, either because it is considered to violate the owner rights, rights of third parties or for any other reason found appropriate by the Site director.
        <br/><br/>
        If you believe any information or content on the Site is contrary to the Law, violates your rights, is misleading or does not comply with an obligation of confidentiality, you may contact us with your request by mail <a target="_blank" href="mailto:services@storyrobin.com.com"> Contact mail</a> 
        <br/><br/>
    </div>

    <div class="header_text margin-top10">
        <b>X .- USE OF COOKIES</b>
        <br/><br/>
        The Site reserves the right to use cookies to, among other things, facilitate the user navigation on the web site and the most convenient access to the information contained herein. For your information, cookies are small pieces of information that are hosted in the user terminal web site visitor through your browser.
        <br/><br/>
        If you prefer, you can usually choose to set your browser to remove or reject browser cookies; however, the Site may not function properly if you do so.
        <br/><br/>
    </div>

  </div>
</section>